.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin-left: 15%;
  margin-right: 15%;

  :global .rmd-card {
    margin: 0.5rem;
    width: 100%;
    height: auto;
  }

  :global .rmd-dialog--full-page :local & {
    :global .rmd-card {
      width: 100%;
    }
  }
}

.centered {
  justify-content: center;
}
